.customers {
  min-height: 1200px;
  max-width: 900px;
  background-color: #bac8d9;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.customers-auth {
  min-height: 1200px;
  max-width: 900px;
  background-color: #bac8d9;
  margin: 0 auto;
}
.customers-block-info {
  max-width: 900px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.customers-authtext {
  width: 80%;
  text-align: center;
  margin-top: 5px;
}
.customers-btnlogout {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 5px;
}
.customers-btnlogout:hover {
  background-color: blueviolet;
  color: white;
}
.customers-info {
  width: 100%;
  margin-right: 10px;
}
.customers-info-container {
  width: 70%;
  margin-right: 10px;
}
.customers-block-registerWithMail {
  display: flex;
  width: 30%;
  aspect-ratio: 1;
  flex-direction: column;
  padding: 10px;
  background-color: #193940;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0 2px 1px #a8dce7, 0 4px 2px #a8dce7, 0 8px 4px #a8dce7, 0 16px 8px #a8dce7, 0 16px 16px #a8dce7;
}
.inputMail,
.inputPassword {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}
.btn-submit {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
}
.btn-submit:hover {
  background-color: blueviolet;
}
.customers-block-registration {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
}
.btn-registration {
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: blueviolet;
}
.btn-registration:hover {
  color: whitesmoke;
}
.customers-block-products {
  margin: 10px;
  height: fit-content;
  width: 98%;
  display: block;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
.customers-profile-block-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.customers-profile-block-btn-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .customers {
    flex-direction: column;
  }
  .customers-info-container {
    width: 100%;
  }
  .customers-info {
    width: 100%;
    margin-bottom: 10px;
  }
  .customers-block-registerWithMail {
    margin: 0 auto;
    width: 60%;
    aspect-ratio: 0;
    height: fit-content;
  }
}
@media (max-width: 580px) {
  .customers {
    flex-direction: column;
  }
  .customers-info {
    width: 100%;
    margin-bottom: 10px;
  }
  .customers-block-registerWithMail {
    width: 100%;
    aspect-ratio: 0;
    height: fit-content;
  }
}
