.footer {
  max-width: 900px;
  height: fit-content;
  background-color: #193940;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  padding-left: 20px;
}
