.header {
  max-width: 900px;
  height: 170px;
  background: rgb(25, 57, 64);
  background: linear-gradient(70deg, rgba(25, 57, 64, 1) 0%, rgba(168, 220, 231, 1) 73%, rgba(167, 240, 250, 1) 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-logo {
  height: 116px;
  position: absolute;
  right: 0;
  top: 0;
  aspect-ratio: 1;
  object-fit: cover;
}
.header-logo-conf {
  height: 100px;
  position: absolute;
  left: 60px;
  top: 15px;
  aspect-ratio: 1;
  object-fit: contain;
  animation: jumpRightAndGrow 4s infinite;
}
.header-text {
  padding-top: 40px;
  color: white;
  height: 100%;
  font-size: 40px;
}
.header-menu {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-home,
.menu-customers,
.menu-confidential {
  text-decoration: none;
}
.menu-home-active,
.menu-customers-active,
.menu-confidential-active {
  text-decoration: none;
}
.header-href {
  color: white;
  text-decoration: none;
}
.header-href:hover {
  color: blueviolet;
}

.menu-home-active > h2 {
  color: blueviolet;
}
.menu-customers-active > h2 {
  color: blueviolet;
  text-decoration: none;
}
.menu-confidential-active > h2 {
  color: blueviolet;
}
@media (max-width: 580px) {
  .header {
    height: fit-content;
  }
  .header-menu {
    flex-direction: column;
    height: fit-content;
  }
  .header-logo {
    height: 116px;
    position: absolute;
    right: 0;
    top: 77px;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.header-block-language {
  display: flex;
  height: 20px;
  margin-bottom: 5px;
  width: 100%;
  justify-content: space-around;
}
.header-language-text {
  border: none;
  border-radius: 3px;
  width: 60px;
  background-color: transparent;
  color: whitesmoke;
  z-index: 3;
}
.header-language-text:hover {
  background-color: blueviolet;
}
@media (max-width: 730px) {
  .header-logo-conf {
    display: none;
  }
}
@keyframes jumpRightAndGrow {
  0% {
    transform: translateX(0) scale(1);
  }
  6.25% {
    transform: translateX(20px) scale(1.2);
  }
  12.5% {
    transform: translateX(20px) scale(1);
  }
  18.75% {
    transform: translateX(40px) scale(1.2);
  }
  25% {
    transform: translateX(40px) scale(1);
  }
  29.5% {
    transform: translateX(20px) scale(1.2);
  }
  35.75% {
    transform: translateX(20px) scale(1);
  }
  42% {
    transform: translateX(0) scale(1.2);
  }
  48.25% {
    transform: translateX(0) scale(1);
  }
  54.5% {
    transform: translateX(-20px) scale(1.2);
  }
  60.75% {
    transform: translateX(-20px) scale(1);
  }
  67% {
    transform: translateX(-40px) scale(1.2);
  }
  73.25% {
    transform: translateX(-40px) scale(1);
  }
  79.5% {
    transform: translateX(-20px) scale(1.2);
  }
  85.75% {
    transform: translateX(-20px) scale(1);
  }
  92% {
    transform: translateX(0) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
