.products-title {
  color: red;
  text-align: center;
}
.products-block-input {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.products-block-label-name {
  width: 50%;
  position: relative;
}
.products-block-label {
  position: relative;
}
.products-input-name {
  height: 30px;
  padding: 2px;
  width: 100%;
  border: none;
  padding-left: 10px;
}
.products-input-emoji {
  height: 30px;
  padding: 0;
  width: 10%;
  border: none;
  padding-left: 10px;
}
.products-input-name-label,
.products-input-quantity-label,
.products-input-price-label {
  display: none;
}
.products-input-name:focus,
.products-input-quantity:focus,
.products-input-price:focus {
  outline: none;
}
.products-input-name:focus ~ .products-input-name-label {
  display: block;
  position: absolute;
  color: red;
  font-size: 10px;
  left: 35%;
  top: -8px;
}
.products-input-quantity:focus ~ .products-input-quantity-label {
  display: block;
  position: absolute;
  color: red;
  font-size: 10px;
  left: 15%;
  top: -8px;
}
.products-input-price:focus ~ .products-input-price-label {
  display: block;
  position: absolute;
  color: red;
  font-size: 10px;
  top: -8px;
  left: 15%;
}
.products-input-quantity {
  height: 30px;
  padding: 2px;
  border: none;
  padding-left: 10px;
}
.products-input-price {
  height: 30px;
  padding: 2px;
  border: none;
  padding-left: 10px;
}
.products-btn-add {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: grey;
}
.products-btn-add:hover {
  background-color: blueviolet;
  color: white;
}
.products-title-already {
  color: red;
  text-align: center;
  margin-top: 15px;
}
.products-block-show {
  margin-top: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.products-show-name {
  width: 46%;
  height: 100%;
  text-justify: center;
  font-size: 18px;
  overflow: wrap;
}
.products-show-emoji {
  width: 4%;
  height: 100%;
  text-justify: center;
}
.products-show-quantity {
  width: 23%;
  font-size: 18px;
}
.products-show-price {
  width: 14%;
  font-size: 18px;
}
.products-show-btn-delete,
.products-show-btn-edit {
  height: 25px;
  width: 65px;
  border-radius: 5px;
  border: none;
  background-color: grey;
}
.products-show-btn-delete {
  margin-right: 10px;
}
.img {
  width: 20px;
  aspect-ratio: 1;
}
.products-show-btn-delete:hover,
.products-show-btn-edit:hover {
  background-color: blueviolet;
  color: white;
}
@media (max-width: 800px) {
  .products-block-input {
    flex-direction: column;
    align-items: center;
  }
  .products-block-label {
    width: 50%;
  }
  .products-input-quantity,
  .products-input-price {
    width: 100%;
  }
  .products-btn-add {
    width: 50%;
    height: 30px;
  }
  .products-input-price:focus ~ .products-input-price-label,
  .products-input-quantity:focus ~ .products-input-quantity-label {
    left: 35%;
  }
}
@media (max-width: 560px) {
  .products-show-name {
    width: 30%;
  }
  .products-show-quantity,
  .products-show-price {
    width: 20%;
  }
}
